process {
    // Fix shell directive warning
    shell = ['/bin/bash', '-euo', 'pipefail']
    
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        memory = '16 GB'
        cpus = 4
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        memory = '16 GB'
        cpus = 4
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
        memory = '16 GB'
        cpus = 4
    }
    
    withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        memory = '32 GB'
        cpus = 8
    }
    
    withName: '.*:FQ_LINT' {
        publishDir = [
            path: { "${params.outdir}/fq_lint" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        memory = '8 GB'
        cpus = 2
    }
    
    withName: '.*:FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        memory = '8 GB'
        cpus = 2
    }
    
    withName: '.*:TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        memory = '16 GB'
        cpus = 4
    }
} 